.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 15px;
}

.nameItem {
    padding: 10px;
    color: darkorchid;
}
.active {
    color:cornflowerblue;
    text-decoration: none;
}

.main{
    display: flex;
    margin-top: 5%;
}
.imagePost img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.messages{
    padding: 40px;
}
