.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.nameItem {
    padding: 10px;
    color: darkorchid;
}
.nameItem {
    color:cornflowerblue;
}

.messages {
    padding: 10px;
}

.messageItem {

}
