.item {
    margin-top: 4%;
    word-wrap: break-word;
    margin-left: 3%;
}
.main{
    display: flex;
    width: 25%;
    margin-top: 2%;
}
.imagePost img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.likes{
    margin-left: 2%;
}